<h1>Hangperson</h1>
<p>Word: <strong><%= @game.word_with_guesses %></strong></p>
<p>Wrong guesses: <%= @game.wrong_guesses %> (<%= @game.wrong_guesses.length %>/7)</p>

<% if flash[:error] %>
  <p style="color: red;"><%= flash[:error] %></p>
<% end %>

<form action="/guess" method="post">
  <input type="text" name="guess" maxlength="1" size="1" autofocus>
  <button type="submit">Guess!</button>
</form>
